---
import { Icon, LinkCard, CardGrid } from "@astrojs/starlight/components";

const releaseInfo: {
  tag_name: string;
  assets: { name: string; browser_download_url: string }[];
} = await fetch(
  "https://api.github.com/repos/ahqsoftwares/tauri-ahq-store/releases/latest"
)
  .then((data) => data.json())
  .then((d) => {
    console.log(d);
    return d;
  });

const data = releaseInfo?.assets || [];

const preReleaseInfo: {
  tag_name: string;
  assets: { name: string; browser_download_url: string }[];
} = await fetch(
  "https://api.github.com/repos/ahqsoftwares/tauri-ahq-store/releases"
)
  .then((data) => data.json())
  .then((d) =>
    d.filter ? d.filter((d: { prerelease: boolean }) => d.prerelease) : []
  )
  .then((data) => data[0] || { tag_name: "unknown", assets: [] });

const alpha = preReleaseInfo?.assets || [];
---

<h3 style="display:flex;">
  <Icon name="pencil" size="2rem" />
  <span style="margin-left:12px;">Versions</span>
</h3>
<h5 style="font-weight: normal;">
  Stable: v<strong>{releaseInfo.tag_name}</strong>
</h5>
<h5 style="margin-top:0;font-weight: normal;">
  Pre-Release: v<strong>{preReleaseInfo.tag_name}</strong>
</h5>

<div style="display:flex;">
  <div style="margin-right:1rem;">
    <h2 style="display: flex;">
      <Icon name="seti:windows" color="blue" size="2rem" />
      <span style="margin-left: 12px;">Windows (x64)</span>
    </h2>
    <LinkCard
      title="🚀 Download Setup"
      description="Download the Setup that automates the install (recommended)"
      href={data.find(({ name }) => name == "ahqstore_setup_win32_amd64.exe")
        ?.browser_download_url}
    />

    <LinkCard
      title="🪲 Download Alpha Setup"
      description="Download the Alpha Version of setup. Ideal for highly technical users"
      href={alpha.find(({ name }) => name == "ahqstore_setup_win32_amd64.exe")
        ?.browser_download_url}
    />
  </div>

  <div style="margin-top:0;">
    <h2 style="display: flex;">
      <Icon name="seti:windows" color="blue" size="2rem" />
      <span style="margin-left: 12px;">Windows (arm64)</span>
    </h2>
    <LinkCard
      title="🚀 Download Setup"
      description="Download the Setup that automates the install (recommended)"
      href={data.find(({ name }) => name == "ahqstore_setup_win32_arm64.exe")
        ?.browser_download_url}
    />

    <LinkCard
      title="🪲 Download Alpha Setup"
      description="Download the Alpha Version of setup. Ideal for highly technical users"
      href={alpha.find(({ name }) => name == "ahqstore_setup_win32_arm64.exe")
        ?.browser_download_url}
    />
  </div>
</div>

<div style="display:flex;margin-top:3rem;">
  <div style="margin-right:1rem;">
    <h2 style="display: flex;">
      <Icon name="linux" size="2rem" />
      <span style="margin-left: 12px;">Debian Linux (x64)</span>
    </h2>
    <LinkCard
      title="🚀 Installer (dpkg)"
      description="Debian, Ubuntu, Kali Linux & other distros that have dpkg tooling (recommended)"
      href={data.find(({ name }) => name == "ahqstore_setup_linux_amd64")
        ?.browser_download_url}
    />

    <LinkCard
      title="🪲 Installer (dpkg)"
      description="Alpha version of the dpkg installer. Ideal for technical users who want to look at the new installer"
      href={alpha.find(({ name }) => name == "ahqstore_setup_linux_amd64")
        ?.browser_download_url}
    />
  </div>
  <div style="margin-top:0;">
    <h2 style="display: flex;">
      <Icon name="linux" size="2rem" />
      <span style="margin-left: 12px;">Debian Based Linux (arm64)</span>
    </h2>
    <LinkCard
      title="🚀 Installer (dpkg)"
      description="Debian, Ubuntu, Kali Linux & other distros that have dpkg tooling (recommended)"
      href={data.find(({ name }) => name == "ahqstore_setup_linux_arm64")
        ?.browser_download_url}
    />

    <LinkCard
      title="🪲 Installer (dpkg)"
      description="Alpha version of the dpkg installer. Ideal for technical users who want to look at the new installer"
      href={alpha.find(({ name }) => name == "ahqstore_setup_linux_arm64")
        ?.browser_download_url}
    />
  </div>
</div>

<h1 style="display: flex;">
  <Icon name="information" size="2rem" />
  <span style="margin-left: 12px;">Raw Artifacts</span>
</h1>
<span>
  Read the guide on installing via raw files
  <a href="/en/raw">here</a>
</span>

<h3 style="margin-top:1rem;">💾 Stable Files</h3>
<CardGrid>
  {
    data.map(({ name, browser_download_url }) => (
      <LinkCard
        title={name}
        description={`v${releaseInfo.tag_name}`}
        href={browser_download_url}
      />
    ))
  }
</CardGrid>

<h3>💿 Prerelease Files</h3>
<CardGrid>
  {
    alpha.map(({ name, browser_download_url }) => (
      <LinkCard
        title={name}
        description={`v${preReleaseInfo.tag_name}`}
        href={browser_download_url}
      />
    ))
  }
</CardGrid>
